* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

header {
    background-color: grey;
    font-size: 20px;
    padding: 20px;
}

.menu-header {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu-options {
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    font-weight: bold;
}

header img {
    width: 120px;
}

header a {
    text-decoration: none;
}

body {
    background-color: rgb(29, 29, 29);
    color: white;

}

h1 {
    text-align: center;
    margin-top: 30px;
}

.temporada {
    border: solid 2px grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    justify-items: center;
    row-gap: 20px;
    max-width: 60vw;
    height: 600px;
    margin: 50px auto 50px auto;
    text-align: center;
    align-items: center;
}

.temporada ol {
    margin: 20px 0px 20px 0px;
    width: 300px;
}

.temporada img {
    margin: auto;
    width: 250px;
    height: 335px;
}


footer{
    background-color: grey;
    margin-top: 30px ;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

footer img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer ul{
    list-style: none;
    margin-left	: 80px;
}

footer a{
    color: black;
}
