*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

header{
    background-color: grey;
    font-size: 20px;
    padding: 20px;
}

.menu-header{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu-options{
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    font-weight: bold;
}

header img{
    width: 120px;
}

header a{
    text-decoration: none;
}

body{
    background-color: rgb(29, 29, 29);
    color: white;

}

h1{
    text-align: center;
    margin-top: 30px;
}

img{
    max-width: 250px;
}


.temporada{
    border: solid 2px grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    justify-items: center;
    row-gap: 20px;
    max-width: 60vw;
    margin: 50px 400px 50px 400px;
    text-align: center;
    align-items: center;
}

.temporada ol{
    margin: 20px 0px 20px 0px;
    min-width: 160px;
}

.temporada img{
    margin: 30px;
}


footer{
    background-color: grey;
    margin: 30px ;
    text-align: center;
}
