*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

header{
    background-color: grey;
    font-size: 20px;
    padding: 20px;
}

.menu-header{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu-options{
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    font-weight: bold;
}

.d{
    color: black;
    font-style: oblique;
    font-weight: 200;
}

header img{
    width: 120px;
}

header a:hover{
    box-shadow: 4px 6px 16px -10px rgba(0,0,0,0.75);
    color: black;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(29, 29, 29);
    color: white
}

h1{
    text-align: center;
    margin-top: 30px;
}

.cont-curiosidades{
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.curiosidades{
    text-align: center;
    margin: 30px 100px 30px 100px;
}

.curiosidades img{
    width: 500px;
    height: 300px;
    border: 3px solid burlywood;
    border-radius: 10px;
}

.curiosidades p{
    margin: 20px;
}

.curiosidades h2{
    margin: 10px;
}

footer{
    background-color: grey;
    margin-top: 30px ;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

footer img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer ul{
    list-style: none;
    margin-left	: 80px;
}

footer a{
    color: black;
}
