*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

header{
    background-color: grey;
    font-size: 20px;
    padding: 20px;
}

.menu-header{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu-options{
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    font-weight: bold;
}

header img{
    width: 120px;
}


a{
    text-decoration: none;
}

h1{
    margin: 30px;
    text-align: center;
}



.cont-momentos{
    /*background-image: url("../img/mejoresMomentos/pizarra.jpg");*/
    margin: 30px 300px auto 300px;
    border: burlywood 3px solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.momento img{
    width: 500px;
    height: 250px;
    margin-bottom: 5px;
}

.momento{
    margin: 30px auto;
    text-align: center;
    color: white;
}

.momento a{
    background-color: black;
    border-radius: 5px;
    margin: 5px 0px 0px 400px;
    padding: 3px;
    text-align: right;
    color: white;
}








body{
    background-color: rgb(29, 29, 29);
    color: white
}
footer{
    background-color: grey;
    margin-top: 30px ;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

footer img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer ul{
    list-style: none;
    margin-left	: 80px;
}

footer a{
    color: black;
}
