*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
.menu-header{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-options{
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
}

header img{
    width: 120px;
}


a{
    text-decoration: none;
}

.perfiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    justify-items: center;
    row-gap: 20px;
    max-width: 70vw;
    margin: auto;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.perfil img{
    width: 115px;
    border: 3px solid burlywood;
}


.title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

header{
    background-color: grey;
    font-size: 20px;
    padding: 20px;
}
body{
    background-color: rgb(29, 29, 29);
    color: white
}
footer{
    background-color: grey;
    margin-top: 30px ;
    text-align: center;
}