*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
.menu-header{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-options{
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    font-weight: bold;
}

header img{
    width: 120px;
}

.d{
    color: black;
    font-style: oblique;
    font-weight: 200;
}

header a:hover{
    box-shadow: 4px 6px 16px -10px rgba(0,0,0,0.75);
    color: black;
}

a{
    text-decoration: none;
}
header{
    background-color: grey;
    font-size: 20px;
    padding: 20px;
}
body{
    background-color: rgb(29, 29, 29);
    color: white;
}
footer{
    background-color: grey;
    margin-top: 30px ;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

footer img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer ul{
    list-style: none;
    margin-left	: 80px;
}

footer a{
    color: black;
}

.cajaCentral{
    border: 3px burlywood solid;
    margin: 40px 25% 40px 25%;
    text-align: center;
}

.cajaCentral p{
    margin: 30px 70px 30px 70px;
}

.cajaCentral img{
    border: 2px burlywood solid;
    width: 700px;
    height: 400px;
}

h1{
    margin: 20px;
    font-size: xx-large;
}

h2{
    margin: 20px;
}